<button nbButton>Active</button>
<button nbButton disabled>Disabled</button>
<button nbButton status="basic">basic</button>
<button nbButton status="primary">primary</button>
<button nbButton status="success">success</button>
<button nbButton status="info">info</button>
<button nbButton status="warning">warning</button>
<button nbButton status="danger">danger</button>
<button nbButton status="control">control</button>

<button nbButton size="tiney">tiny</button>
<button nbButton size="small">small</button>
<button nbButton size="medium">medium</button>
<button nbButton size="large">large</button>
<button nbButton size="giant">giant</button>

<button nbButton outline status="primary">primary</button>
<button nbButton outline status="success">success</button>
<button nbButton outline status="info">info</button>
<button nbButton outline status="warning">warning</button>
<button nbButton outline status="danger">danger</button>

<button nbButton shape="rectangle" status="primary">rectangle hero</button>
<button nbButton shape="semi-round" status="info">semi-round outline</button>
<button nbButton shape="round" size="small" status="success">round small success</button>

<button nbButton (click)="onClick()">onClick</button>
<input nbButton type="submit" (click)="onClick()" value="input submit">
<input nbButton type="button" (click)="onClick()" value="input button">
<a nbButton onclick="onClick()" href="#">link</a>

<button nbButton fullWidth status="primary">primary</button>
<button nbButton fullWidth status="success">success</button>
<button nbButton fullWidth status="info">info</button>
<button nbButton fullWidth status="warning">warning</button>
<button nbButton fullWidth status="danger">danger</button>

<button nbButton status="primary"><nb-icon icon="star"></nb-icon>primary</button>
<button nbButton status="success">success<nb-icon icon="star"></nb-icon></button>
<button nbButton status="info"><nb-icon icon="star"></nb-icon></button>
<button nbButton ghost status="warning"><nb-icon icon="star"></nb-icon></button>